# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Entwicklung & IDEs
.vscode/
.pytest_cache/
.mypy_cache/
.coverage
test_media/
.DS_Store

*.egg-info/

